{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="header">🎸 {{ username }}'s Guitar Collection 🎸</h1>

<div class="row">
{% for guitar in guitars %}
<div class="col-md-3 card p-2 bd-highlight" style="width: 30rem;">
  <a href="/guitars/{{ guitar.id }}">
  <img src="{{ guitar.img.url }}" class="card-img-top" alt="{{guitar.model}}"></a>
  
    <a href="{% url 'guitar_detail' guitar.pk %}">
      <h5 class="card-title d-flex justify-content-center">Brand: {{guitar.brand}}</h5>
      <h5 class="card-title d-flex justify-content-center">Model: {{guitar.model}}</h5></a>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">Year: {{guitar.year}}</li>
    <li class="list-group-item">Price: ${{guitar.price}}</li>
    <li class="list-group-item">Number of Strings: {{guitar.string_count}}</li>
    <li class="list-group-item">Color: {{guitar.color}}</li>
    <li class="list-group-item">Pickups: {% for pickup in guitar.pickups.all %}
                                  {{ pickup.type }}<br>
                                  {{ pickup.brand }}<br>
                                  Active: {{ pickup.active }}
                                  {% empty %}
                                  Pickup info unavailable    
                                  {% endfor %}                          
                              </li>
    <li class="list-group-item"><h5 class="card-title d-flex justify-content-center">Owner:</h5><a href='/user/{{guitar.user.username}}' class="card-link d-flex justify-content-center">{{guitar.user.username}}</a></li>
  </ul>
  
    
    

  
</div>


{% empty %}
</div>
<div class="header">
  <h2 class="header">No guitars here...</h2>
</div>
<div class="header">
  <h3 class="header">Start your collection here: </h3>
</div>
<div class="header">
  <a href="{% url 'pickups_create' %}">Add a Guitar</a>
</div>
{% endfor %}
</div>


{% endblock %}
